<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Open+Sans" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
        <ul class="cf">
            <a href="/"><h1>Deep's Bookstore</h1></a>
            <% if (locals.user) { %>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/store/orders">Orders</a></li>
            <%} else { %>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <%} %>  
        </ul>
    </nav>
    <div class="main-content">
        <div class="messages">
            <% if(locals.error_msg.length > 0) { %>
                <p class="notify error"><%=error_msg %></p>
            <% } %>
            <% if(locals.success_msg.length > 0) { %>
                <p class="notify success"><%=success_msg %></p>
            <% } %>
            <% if(locals.errors) { %>
                <% for (var i = 0; i < errors.length; i++){ %>
                    <p class="notify error"><%=errors[i].msg %></p>
                <% } %>
            <% } %>
            <% if (locals.success) { %>
                    <p class="notify success">You have been successfully registered. <a href="/login">Login Now.</a></p>
            <% } %>
        </div>

        <div class="orders">
            <% if (locals.orders) { %>
                <% for (var i = 0; i < orders.length; i++){ %>
                <a href="/store/orders/<%=orders[i].order_no%>" class="order-item">
                    <h3 class="recieved-date">Recieved: <%=orders[i].received_date%> - Shipped: <%=orders[i].shipped_date%></h3>
                    <p class="address"><%=orders[i].shipped_address%>, <%=orders[i].shipped_city%> <%=orders[i].shipped_state%> <%=orders[i].shipped_zip%></p>
                </a>
                <% } %>
            <% } %>
        </div>
        <div class="order-items">
            <h2>This order contains: </h2>
            <% if (locals.order_items) { %>
                <% for (var i = 0; i < order_items.length; i++){ %>
                <div class="order-item-unit">
                    <span><%=order_items[i].price%></span>
                    <p><%=order_items[i].title%>&nbsp; x &nbsp;<%=order_items[i].quantity%></p>
                </div>
                <% } %>
            <% } %>
        </div>
        <a href="/store" class="button">Back to Store</a>
    </div>
</body>
</html>