<!DOCTYPE html>
<html>
<head>
    <title>Store</title>
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Open+Sans" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
        <ul class="cf">
            <a href="/"><h1>Deep's Bookstore</h1></a>
            <% if (locals.user) { %>
            <li><a href="/store">Store</a></li>
            <li><a href="/logout">Logout</a></li>
            <%} else { %>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <%} %>  
        </ul>
    </nav>
    <div class="main-content">
        <div class="messages">
            <% if(error_msg.length > 0) { %>
                <p class="notify error"><%=error_msg %></p>
            <% } %>
            <% if(success_msg.length > 0) { %>
                <p class="notify error"><%=success_msg %></p>
            <% } %>
        </div>
        <div class="books-list">
            <% if (locals.books) { %>
                <% for (var i = 0; i < books.length; i++){ %>
                    <a href="/store/cart/add/<%=books[i].book_id%>" class="book-item">
                        <span class="price"><%= books[i].price %></span>
                        <p class="hover-text"></p>
                        <h3><%= books[i].title %></h3>
                        <p class="author"><%= books[i].author %> - <%=books[i].subject%> - <%=books[i].isbn%></p>
                    </a>
                <% } %>
            <% } %>
        </div>
        <div class="sidebar">
            <div class="cart cf">
                <h1>Your Cart</h1>
                <% if (locals.cart) { %>
                    <% for(var i = 0; i < cart[0].length; i++) { %>
                    <a href="/store/cart/remove/<%=cart[0][i].cart_id%>" class="cart-item">
                        <span class="price"><%=cart[0][i].price%> x <%=cart[0][i].quantity%></span>
                        <h3><%=cart[0][i].title%></h3>
                    </a>
                    <% } %>
                <% } %>
                <a href="/store/one-click" class="one-click checkout">One Click</a>
                <a href="" class="checkout">Checkout</a>
            </div>

            <div class="subjects">
                <h1>Find By Subject</h1>
                <% if (locals.subjects) { %>
                    <% for (var i = 0; i < subjects.length; i++){ %>
                        <a href="/store/sort/<%=subjects[i].subject%>"><%=subjects[i].subject%></a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>  
</body>
</html>